.main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
  }
  
  .special {
    color: black;
    font-weight: bold;
  }

  .primera_clase {
    background-color: red;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }